
.main{
    background-color:#121212 ;
    height:100vh ;
    overflow: auto;
    /* height: 100%; */
}
.MyForm{
    border: var(--mainColor) solid;
    /* font-weight: lighter; */
    
}
.MyInput{
    border: none !important;
  margin-bottom: 3%;

}
input:focus {
    color: #ff0000;
  }
